<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scene.dao.StoreMapper">
    <resultMap id="BaseResultMap" type="cn.scene.model.Store">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="counts" jdbcType="INTEGER" property="counts"/>
    </resultMap>
    <select id="selectInfoByPage" resultMap="BaseResultMap">
        select id,name,photo from user
        where id IN (
            select DISTINCT user_id from scene where is_del=1 and is_issue=1
        )
        order by id desc
    </select>
    <select id="selectCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from scene
        where user_id=#{userId,jdbcType=INTEGER} and is_del=1 and is_issue=1
    </select>
    <select id="selectPageNumber" resultType="java.lang.Integer">
        select count(DISTINCT user_id) user_id from scene where is_del=1 and is_issue=1
    </select>
</mapper>