<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scene.dao.SysfileMapper">
    <resultMap id="BaseResultMap" type="cn.scene.model.Sysfile">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="CHAR" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, type, url, is_del
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sysfile
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sysfile
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.scene.model.Sysfile">
        insert into sysfile (id, type, url, is_del
          )
        values (#{id,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{url,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT}
          )
    </insert>
    <insert id="insertSelective" parameterType="cn.scene.model.Sysfile">
        insert into sysfile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.scene.model.Sysfile">
        update sysfile
        <set>
            <if test="type != null">
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.scene.model.Sysfile">
        update sysfile
        set type = #{type,jdbcType=CHAR},
          url = #{url,jdbcType=VARCHAR},
          is_del = #{isDel,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectInfoByType" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sysfile
        WHERE is_del=1 AND type=#{type,jdbcType=CHAR} ORDER BY id DESC
    </select>
    <select id="selectInfoCounts" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sysfile WHERE is_del=1 AND type=#{type,jdbcType=CHAR}
    </select>

    <insert id="insertFile" parameterType="cn.scene.model.Sysfile">
     insert into sysfile ( type, url)
        values ( #{type,jdbcType=CHAR}, #{url,jdbcType=VARCHAR})
    </insert>

    <update id="deleteFile" parameterType="java.lang.Integer">
        UPDATE sysfile set is_del = 0 where id =#{id,jdbcType=INTEGER}
    </update>

</mapper>